# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Distribution / packaging
build/
dist/

# Virtual Environments
.env
.venv
env/
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# IDEs
.vscode/
.idea/

# =========================
# MetaSMS-HSS Custom Rules
# =========================

/data
# Ignorar modelos pesados del entrenamiento (pkl, bin, safetensors)
experiments/results/models/*
!experiments/results/models/.gitkeep

# Ignorar logs y reportes generados automaticamente
experiments/results/logs/*
!experiments/results/logs/.gitkeep

# Ignorar variables de entorno o configuraciones locales (Claves API de LLM)
.env
.env.local
.state.json
*.hashes.txt

# Quarto
.quarto/
_site/
_book/
*_files/
*_cache/

output/
/.quarto/
**/*.quarto_ipynb
